@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@font-face {
  font-family: Agrandir;
  src: url(/frontend/Fonts/Agrandir-GrandHeavy.otf);
}
/* .container-fluid {
  min-height: 100vh;
  max-height: 100vh;
} */

/* .bg-login {
  background: url("https://images.pexels.com/photos/2603464/pexels-photo-2603464.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260")
    no-repeat center;
  background-size: cover;
  height: 50vh;
} */
html,
body {
  width: 100vw;
  height: 100vh;
  background-image: url(/frontend/Image/DESIGN\ 1\ LENDER\ 4.png);
}

.BorrowerBG {
  background-image: url(/frontend/Image/DESIGN\ 1\ BORROWER.png);
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row {
  justify-content: left;
  padding: 20px 20px 20px 20px;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.row-lender {
  justify-content: space-around;
}
.row-adjustment {
  padding-top: 50px;
}

.note-style {
  color: white;
  justify-content: center;
  padding-left: 20px;
  margin-top: 30px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flexbox {
  background-image: url(/frontend/Image/HELLO\ BORROWER.jpg);
  background-size: cover;
  min-width: 300px;
}
.flexbox1 {
  background-size: cover;
  min-width: 400px !important;
}

.flexbox1 span {
  position: absolute;
  bottom: 0;
}

.flexbox1 h1 {
  padding-left: 10px;
  font-size: 70px;
  color: white;
  font-family: Agrandir;
  text-align: center;
  background-color: transparent;
}

.flexbox h1 {
  padding-top: 80px;
  font-size: 50px;
  color: white;
  font-family: Agrandir;
  text-align: center;
  background-color: transparent;
}

.flexcontainer {
  text-align: left;
  margin-top: 80px;
}

.flexcontainer h3 {
  font-family: "Archivo", sans-serif;
  text-align: center;
  color: #f0f0f0;
}
.form-design {
  padding-top: 50px;
  padding-left: 30px;
}

.form-design1 {
  width: 60vw;
  height: 80vh;
}

.giveLoan {
  text-align: center;
}

.logo {
  display: flex;
  flex-direction: row;
  text-align: start;
  margin-left: -280px;
  padding-top: 5px;
}

.logo,
h1 {
  color: white;
  text-align: center;
  padding-top: 40px;
}

h3 {
  color: rgb(27, 27, 27);
  font-size: 40px;
  /* display: inline-block; */
}

h4 {
  font-family: "Poppins", sans-serif;
  padding-bottom: 40px;
  font-size: 25px !important;
}

.login-area {
  border-radius: 25px;
  background-color: rgb(228, 227, 227);
}

.borrower-login {
  margin-left: 50px;
}

.input-group-text i {
  font-size: 13px !important;
  color: #777;
  text-align: center;
}

.input-group-text {
  width: 40px !important;
  background-color: #f4f4f4 !important;
}

input,
.input-group-text {
  border: 1px solid #f0f0f0 !important;
}

button {
  font-weight: 800 !important;
}

.content,
form {
  position: relative;
  margin-bottom: 5vh;
  padding: 0 30px;
}

.form-look {
  width: 50vw;
  height: 60vh;
  padding-top: 50px;
}

.lender-fluid {
  padding-left: 0 !important;
}

.lender-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container-fluid {
  justify-content: center;
  padding-left: 0 !important;
}

.flexbox2 {
  background-image: url(/frontend/Image/HELLO\ LENDER.jpg);
  padding: 0;
  background-size: cover;
  min-width: 400px !important;
  min-height: 800px;
}

.flexbox3 span {
  position: absolute;
  bottom: 0;
}

.flexbox3 h1 {
  padding-left: 10px;
  font-size: 70px;
  color: white;
  font-family: Agrandir;
  text-align: center;
  background-color: transparent;
}

.flexbox4 {
  background-image: url(/frontend/Image/HELLO\ LENDERs.jpg) !important;
  background-size: cover;
  min-width: 400px !important;
}

.flexbox4 h1 {
  padding-left: 10px;
  font-size: 70px;
  color: white;
  font-family: Agrandir;
  text-align: center;
  background-color: transparent;
}

/* form {
  top: 30vh;
} */

.content .brand {
  margin-bottom: 20px;
  color: #fff;
}

.here-tag {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: black;
}
.here-tag h1 {
  padding-left: 30px;
  color: white;
  font-family: Agrandir;
}

.verify-container {
  display: flex !important;
  flex-direction: column !important;
  margin-top: 60px;
}

/* .verify-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

.verify-text-container {
  padding-top: 40px;
}

.verify-text {
  padding-top: 20px;
  padding-bottom: 10px;
  min-width: 73vw;
}

.verify-text-container h2 {
  text-align: center;
  color: white;
  font-family: "Calistoga", cursive;
}

@media (min-width: 300px) and (max-width: 12000px) {
  .bg-login {
    display: block;
  }
}

@media (min-width: 0px) and (max-width: 300px) {
  .bg-login {
    display: none;
  }
}

.table {
  background-color: rgba(34, 33, 33, 0.932);
  list-style-type: none;
  margin-top: 5vh;
  width: 100%;
  border-spacing: 0;
  text-align: left;
}
.table-lender {
  background-color: rgba(34, 33, 33, 0.932);
  background-size: 40px;
  list-style-type: none;
  width: 100%;
  border-spacing: 0;
  text-align: left;
}

.lender-table {
  justify-content: center;
  width: 70%;
  margin-left: 15%;
  border-radius: 25px;
  background-color: rgb(228, 227, 227);
  margin-top: -5vh;
}
.table-lender th {
  padding: 10 10 10 10;
}
tr {
  color: #f0f0f0;
}
.table__wrapper {
  padding-top: 40px;
}
.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  width: 170px;
  text-align: center;
  border-radius: 3px;
  transition: 0.3s ease;
  text-decoration: none;
}
.btn:hover {
  color: white;
}
.btn__active {
  color: #4ed99c;
  border: 2px solid #4ed99c;
}
.btn__active:hover {
  background: #4ed99c;
}
.btn__pledged {
  color: #f14044;
  border: 2px solid #f14044;
}
.btn__pledged:hover {
  background: #f14044;
}
@media (max-width: 768px) {
  .table td {
    display: block;
    text-align: right;
  }
  .table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
  .table thead display none tr {
    margin-bottom: 30px;
    display: block;
  }
  .table thead {
    display: none;
  }
}
