html,
body {
  height: 100%;
}
.flex-container {
  height: 33%;
}
.header {
  height: 174px;
  background: url("/frontend/Image/Group\ 14.png") no-repeat;
}

.footer {
  height: 159px;
  background: url("/frontend/Image/Group\ 15.png") no-repeat;
}

.bg-login {
  display: flex;
  flex-direction: row;
  height: 57.5vh;
}

.bg-login .body-content {
  padding-bottom: 100px;
}
h1 {
  font-size: 50px !important;
  background: rgba(0, 0, 0, 0.8);
  display: inline-block;
}

h3 {
  color: #edd;
  font-size: 40px;
  background: rgba(0, 0, 0, 0.8);
  display: inline-block;
}

h4 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding-bottom: 20px;
}

.input-group-text i {
  font-size: 13px !important;
  color: #777;
  text-align: center;
}

.input-group-text {
  width: 40px !important;
  background-color: #f4f4f4 !important;
}

input,
.input-group-text {
  border: 1px solid #f0f0f0 !important;
}

button {
  font-weight: 800 !important;
}

.content,
form {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

form .button-flex {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

form .button-flex .div-divider {
  margin-left: 100px;
}

form .button-flex .first-button {
  padding: 10px 10px 10px 10px;
  border-color: black;
  border-radius: 10px;
  background-color: #094978;
}

form .button-flex .second-button {
  padding: 10px 10px 10px 10px;
  border-color: black;
  border-radius: 10px;
  background-color: #7f3800;
}
.content .brand {
  margin-bottom: 20px;
  color: #fff;
}

a {
  text-decoration: none;
}

a:visited {
  color: white !important;
}

@media (min-width: 300px) and (max-width: 12000px) {
  .bg-login {
    display: block;
  }
}

@media (min-width: 0px) and (max-width: 300px) {
  .bg-login {
    display: none;
  }
}
